:root{
    --color-main: rgb(195, 217, 238);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    background-color: rgb(234, 235, 236);

}


/* HEADER  */                      
.navbar{
    background-color: var(--color-main);
    font-size: 18px;
}
.content-top-img img{
    width: 100%;
}


/* THANH TUU */
.achievement{
    width: 100%;
    height: 500px;
    position: relative;
}
 #achievement-right img {
    width: 700px;
    height: 470px;
    float: right;
    position: relative;
}
#achievement-left  {
    width: 500px;
    height: 300px;
    position: relative;
    display: block;
    padding-top: 80px;
    padding-left: 20px;
}
#achievement-left h1{
    margin-bottom: 20px;
    color: rgb(44, 141, 252);
    font-size: 35px;
}
#achievement-left p{
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    margin-top: 30px;
}
#achievement-left li{
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    margin-top: 30px;
}
/* MÔ HÌNH */


/* HỌC PHÍ */
.section-title {
    margin-bottom: 38px
}

.img-fluid {
    height: 100px
}

.section {
    padding-top: 40px;
    padding-bottom: 1400px
}

.rounded-lg {
    border-radius: 10px
}

.shadow,
.subscription-wrapper {
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important
}

.hover-bg-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(134deg, #00a4db 0%, #00269e 100%);
    z-index: -1;
    opacity: 0
}

.hover-bg-primary:hover {
    background: transparent
}

.hover-bg-primary:hover:before {
    opacity: 1
}

.pricing-table:before,
.hover-bg-primary::before,
.card-border-bottom:after {
    transition: ease 0.3s
}

.hover-bg-primary:hover * {
    color: #fff !important
}

.hover-bg-primary:hover * {
    color: #fff !important
}

.btn-outline-primary {
    color: #007ac7;
    border: 2px solid #00e0d8
}

.btn {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 14px 45px;
    border-radius: 45px;
    font-weight: 500;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden
}

.hover-bg-primary .btn {
    transition: unset
}

.btn-outline-primary:hover {
    color: #fff !important;
    background: none;
    border: 2px solid #00e0d8
}

/* CLUB-IMG */
.club{
    width: 100%;
    height: 420px;
    background-color: rgb(206, 25, 49);
    
}
.club-title{
    width: 700px;
    text-align: center;
    margin: 20px auto;
}
.club-title h1{
    padding: 10px 0;
    font-size: 33px;
    color: white;
}
.club-title p{
    font-size: 19px;
}
.club-img{
    margin: 0 30px;
}
.club-img img {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 275px;
    margin: 10px;
    border: 5px solid white;
}
.club-img img:hover {
    box-shadow: 0px 2px 10px 0 rgb(204, 203, 203), 10px 10px 10px 0 rgba(229, 233, 241, 0.19);
}

/* FOOTER */
#footer{
    width: 100%;
    position: relative;
    background-color: rgba(96, 132, 168, 0.63);
}

.footer-center{
    padding: 15px 0;
    /* width: 100%; */
    margin: 0 180px ;
}
.footer-tel, .footer-addr  {
    margin:0 50px;
    width: 250px;
}
.footer-icon{
    padding-left: 50px;
}
.footer-tel{
    width: 190px;
    padding-right: 20px;
    display: inline-block;
    position: relative;
    bottom: 40px;
}
.footer-tel li{
    display: inline-block;
    font-size: 30px;
    color: sienna;
}

.footer-tel .fas {
    font-size: 25px;
    color: sienna;
}
.footer-addr{
    width: 250px;
    display: inline-block;
    position: relative;
    top: 9px;  
    line-height: 25px;
}
.footer-addr .fas{
    color: black;
    font-size: 19px;
}

.footer-icon {
    display: inline-block;
    position: relative;
    bottom: 60px;
}
.footer-icon li{
    display: inline-block;
    font-size: 25px;
    padding: 0 7px;
}
/* footer bottom */
.footer-bottom{
    text-align:center;
    padding:20px;
    font-size:18px;
}
    






